extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner 21 Days 
    div.Message
      div.Title
      span.Details Access the WHATABYTE Team Portal
    div.NavButtons
      a(href="/userprofile")
          div.NavButton User Profile
      a(href="/dailygoals") 
          div.NavButton Weekly Goals
      a(href="/weeklygoals") 
          div.NavButton Daily Goals 
      a(href="/bodygoals") 
          div.NavButton Body Goals 
